@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{

    scroll-behavior: smooth;}

body{

    font-family: 'Roboto';
    margin: 0;}

#nav_menu{

    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #000038;
    height: 100px;}

.menu_atual{

    color: #321bad;
    border-top: 4px solid #000038;}

#div_logo{

    flex: 30%;
    text-align: left;
    margin-left: 10%;}

.div_menu{

    flex: 60%;
    text-align: right;
    padding: 20px;}

.div_menu a{

    text-decoration: none;
    font-size: 17px;
    padding: 20px 16px;
    color: #0D1321;}

.div_menu a:hover{

    color: #321bad;
    border-top: 4px solid #000038;}

#div_logo img{

    width: 70%;}

#contato{

    margin-left: 5%;
    margin-right: 10%;
    border-radius: 5px;
    color: white;
    background-color: #321bad;
    padding: 10px 25px;}

#contato:hover{

    border: none;
    background-color: #000038;}

.header_inicio{

    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;}

.div_inicio{

    margin-left: 10%;
    flex: 40%;}

.div_inicio h2{

    color: #11095f;
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 20px;}

.div_inicio p{

    color: #0D1321;
    font-size: 20px;
    text-align: left;}

#botao_contato{

    display: inline-block;
    background-color: #321bad;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    color: white;}

#botao_contato:hover{

    background-color: #000038;}

#div_img_inicio{

    text-align: center;
    margin-right: 1%;
    flex: 40%;}

#div_img_inicio img{

    height: 600px;
    width: 90%;}

.div_linha{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #321bad;
    height: 150px;}

.div_linha p{

    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    font-weight: 400;
    font-size: 23px;
    color: white;}

.section_servicos{

    display: inline-block;
    text-align: center;
    padding: 5%;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;}

.section_servicos h2{

    width: 100%;
    font-weight: bolder;
    font-size: 50px;
    color: #000038;
    margin: 0;}

.div_servicos{

    display: flex;
    margin-top: 5%;}

.div_conteudo{

    transition: transform 0.3s ease;
    width: 30%;
    margin: 1%;
    padding: 20px;
    border: 1px solid #4324d5;}

.div_conteudo:hover {

    z-index: 5;
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);}

#botao_servicos{

    margin-top: 20px;
    margin-bottom: 20px;}

#botao_servicos a:hover{

    background-color: #000038;}

#botao_servicos a{

    display: inline-block;
    background-color: #321bad;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    color: white;}

.rodape{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background-image:linear-gradient(180deg, #221286, #11095f, #000038);}

.div_sociais{

    margin-right: 100px;
    display: flex;}

.div_politicas{

    display: flex;
    text-align: center;
    color: white;}

.div_politicas a{

    margin-right: 20px;
    margin-top: 10px;
    color: yellow;
    font-size: 12px;}

.div_politicas p{

    margin-left: 20px;
    font-size: 12px;}

.div_politicas a:hover{

    color: white;}

#footer_texto{

    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 100px;
    color: white;
    width: 250px;}

.rodape div img{

    width: 50%;}

.whats{

    border-radius: 30px;
    display: flex;
    width: 240px;
    margin-bottom: 15px;
    align-items: center;
    background-color: rgb(49, 163, 64);
    justify-content: center;
    position: fixed;
    right: 5px;
    bottom: 5px;}

.whats img{

    width: 7%;}

.whats a{

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;}

.whats p{

    font-size: 13px;
    margin-left: 5px;
    color: white;}

#voltar{

    width: 64px;
    position: fixed;
    bottom: 50px;
    left: 30px;}

.linha{

    background-color: white;
    padding-top: 100px;}

.titulo_contato{

    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;}

.titulo_contato span{

    text-align: center;
    color: white; 
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px; 
    text-transform: uppercase;}

#span_texto{

    font-size: 15px;}

.traco{

    background-color: white;
    width: 367px;
    height: 1px;
    margin: 10px;}

.section_formulario{

    padding-top: 100px;
    height: 400px;
    display: flex;}

#div_img_contato{

    margin-top: 40px;
    margin-left: 10%;
    flex: 40%;}

#div_img_contato img{

    margin-right: 50px;
    width: 20%;}

.div_formulario_contato{

    flex: 30%}

.div_formulario_contato input{

    width: 179px;
    border-radius: 10px;
    padding: 10px;}

#label_politicas{

    font-weight: 500;
    font-size: 12px;}

#button_formulario{

    border-radius: 10px;
    width: 420px;
    padding: 10px;
    color: white;
    background-image:linear-gradient(180deg, #4324d5,  #321bad);}

#tabela{

    width: 80%;
    margin: 0 auto;}

table{

    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;}

th, td{

    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;}

th{

    background-color: #4324d5;
    color: white;}

tbody a:hover{

    background-color: #0D1321;}

.tabela_contato_alinhamento{

    margin-bottom: 100px;
    display: flex;
    justify-content: center;}

.div_tabela_contato{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1100px;
    background-color: #4324d5;}

#div_img_tabela{

    flex: 20%;
    margin-left: 40px;}

#div_img_tabela img{

    width: 90%;}

#div_texto_tabela{
    
    flex: 60%;
    width: 500px;}

#div_texto_tabela h2{

    font-size: 32px;
    width: 66%;
    font-weight: bolder;
    color: white;
    margin: 0;}

#div_texto_tabela p{

    color: white;
    font-weight: 330;
    font-size: 20px;}

#div_texto_tabela a{

    display: inline-block;
    background-color: #000038;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    color: white;}

#div_texto_tabela a:hover{

    background-color: white;
    color: #000038;}

.div_conteudo_servicos{

    display: flex;
    transition: transform 0.3s ease;
    background-color: white;
    width: 30%;
    margin: 1%;
    padding: 20px;
    border: 1px solid #4324d5;}

.div_linha_servicos{

    text-align: center;
    background-color: #000038;
    height: 500px;}

.div_linha_servicos p{

    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    font-weight: 400;
    font-size: 23px;
    color: white;}

.div_texto_servicos{

    text-align: left;}

.div_texto_servicos p{

    color: black;}

.div_texto_servicos h3{

    margin-left: 30px;
    width: 280px;
    text-align: left;}

.div_img_servicos{

    margin-top: 25px;}

.div_conteudo_servicos:hover{

    z-index: 5;
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);}

#div_titulo_linha p{

    width: 1090px;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: 900;
    font-size: 42px;}

.div_trafego{

    margin-top: 100px;
    height: 580px;}

.conteudo_trafego{

    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;}

.texto_trafego{

    height: 600px;
    flex: 50%;}

.img_lista_trafego{

    margin-bottom: 15px;
    display: flex;}

.lista_trafego h4{

    color: #4324d5;
    font-weight: bolder;
    font-size: 23px;
    font-weight: 800;
    margin: 0;}

.lista_trafego ul{

    width: 380px;
    padding-left: 5%;
    font-size: 17px;}

.lista_trafego li{

    font-weight: 500;
    margin-bottom: 10px;}

.trafego_img{

    text-align: right;
    height: 600px;
    flex: 50%;}

.trafego_img img{

    width: 70%;
    height: 80%;}

.texto_img_trafego{

    width: 60px;
    height: 60px;
    margin-right: 12px;}

.texto_img_trafego img{

    width: 100%;
    height: 100%;}

.div_estat{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 950px;
    height: 150px;
    background-color: #4324d5;}

#texto_estat{

    color: white;
    flex: 30%;
    text-align: center;}

#texto_estat h2{

    font-size: 35px;}

#barra{

    width: 1px;
    height: 100px;
    background-color: white;}

.div_linha_tabela{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000038;
    height: 550px;}

#tabela h1{
    
    text-align: center; 
    color: white;}

.linha_especa{

    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1px;
    width: 1000px;
    background-color: rgb(102, 102, 102);}

.texto_politicas{

    color: rgb(97, 97, 97);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1000px;}

.texto_politicas h2{

    font-weight: 300;
    font-size: 37px;}

.texto_politicas p{

    font-weight: 300;
    font-size: 21px;}

.texto_politicas ul{

    font-weight: 300;
    font-size: 21px;}

.texto_politicas ol{

    font-weight: 300;
    font-size: 21px;}

.lista_politicas{

    color: rgb(97, 97, 97);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;}

.lista_politicas h3{

    color: #000038;
    font-weight: bolder;
    font-size: 21px;}

.lista_politicas ul{

    font-weight: 300;
    font-size: 21px;}

.div_perguntas{

    margin-left: auto;
    margin-right: auto;
    width: 1100px;}

.duvidas_faq{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.duvidas_faq h2{

    font-size: 45px;}

.duvidas_faq h3{

    font-size: 15px;}

.img_faq{

    text-align: center;
    height: 500px;}

.img_faq h2{

    font-size: 40px;
    text-align: center;}

.img_faq img{

    width: 30%; 
    height: 50%;}

.texto_escondido{

    display: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    background-color: #4324d5;}

.expandir{

    cursor: pointer;
    border-radius: 10px;
    width: 500px;
    padding: 5px;
    color: white;
    background-color: black;
    margin-top: 70px;}

.expandir h3{
    
    text-align: left;
    margin-left: 10px;
    font-weight: 300;}

.expandir:hover{

    background-color: #4324d5;}

.expandir:hover h3{

    display: none;}

.expandir:hover .texto_escondido{

    text-align: center;
    font-weight: 300;
    display: block;}

.video{
    
    text-align: center;
    width: 100%;}
    
iframe{

    border-radius: 10px;}

.titulo_video{
    
    font-size: 26px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    text-align: center;
    width: 800px;}

.botao_mudar{
    
    margin-left: 10px;
    margin-top: 13px;
    text-align: center;}

.botao_mudar button{

    background-color: black;
    color: white;
    width: 180px;
    border-radius: 10px;
    padding: 20px;}

.video_alinhar{

    margin-left: auto;
    margin-right: auto;
    width: 700px;
    display: flex;}

.centralizar_video{

    width: 100%;}

@media (max-width: 768px){
    
    #nav_menu{

        height: 10%;
        flex-direction: column;
        padding: 20px;}
    
    .div_menu{

        width: 100%;
        text-align: center;}
    
    .div_menu a{

        padding: 10px 16px;
        font-size: 16px;}
    
    .div_logo{

        flex: 100%;
        text-align: center;
        margin-left: 0;}
    
    #div_logo img{

        width: 50%;}
    
    .header_inicio{

        flex-direction: column;
        height: auto;
        padding-top: 20%;}
    
    .div_inicio, #div_img_inicio{

        flex: 100%;
        margin-left: 0;}
    
    .div_inicio h2{

        font-size: 18px;}
    
    .div_inicio p{

        font-size: 16px;}

    .div_linha p{

        font-size: 16px;}
    
    #botao_contato{
            
        font-size: 14px;
        padding: 15px;}
    
    .section_servicos{

        padding: 5%;
        margin: 10px;}
    
    .div_servicos{

        text-align: center;
        margin-left: 20px;
        flex-direction: column;}
    
    .div_conteudo{

        width: 90%;
        margin: 10px 0;}
    
    .rodape{

        text-align: center;
        width: 100%;
        height: auto;}

    #footer_texto img{

        display: none;}
    
    .div_sociais{

        margin-right: 0;
        justify-content: center;}
    
    .whats{

        width: 200px;
        right: 10px;
        bottom: 10px;}
    
    .whats p{

        font-size: 12px;}
    
    #voltar{

        left: 10px;
        bottom: 20px;}
    
    .titulo_contato span{

        font-size: 20px;}
    
    .section_formulario{

        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10%;
        text-align: center;}
    
    #div_img_contato{

        margin-left: auto;
        margin-right: auto;
        flex: 100%;}
    
    .div_formulario_contato input{

        width: 20%;
        margin-bottom: 2px;
        display: inline-flex;}
    
    #button_formulario{

        width: 100%;}
    
    .div_tabela_contato{

        flex-direction: column;
        align-items: center;}
    
    #div_img_tabela{
        
        width: 30%;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 15px;}
    
    #div_texto_tabela{

        width: 100%;}

    #div_texto_tabela p{

        font-size: 16px;}

    #div_texto_tabela h2{

        font-size: 22px;}

    #div_texto_tabela a{

        padding: 10px;
        font-size: 15px;}
    
    .div_conteudo_servicos{

        width: 90%;
        margin: 10px 0;}

    #div_titulo_linha p{

        width: auto;}
    
    .div_linha_servicos{

        height: auto;
        padding: 20px;
        width: auto;}
    
    .div_texto_servicos h3{

        font-size: 18px;}

    .div_estat{

        width: 300px;
        height: auto;}
    
    .div_linha_tabela{

        height: auto;
        width: auto;}

    .div_img_servicos{

        margin-top: 10px;
        width: 100%;}

    .div_tabela_contato{

        height: auto;
        width: auto ;}

    .trafego_img{

        margin-bottom: 200px;
        height: 60%;}

    .texto_trafego{

        margin-left: auto;
        height: 500px;
        margin-bottom: 200px;}
    
    .titulo_video{

        font-size: 23px;
        width: 90%;}

    .video{

        width: 100%;}

    .botao_mudar button{

            width: 100%;}

    .div_perguntas{

            width: 100%;}

    .duvidas_faq{

        width: auto;
        height: auto;}

    .expandir{

        width: 80%;}

    .texto_escondido{

        width: auto;}

    .texto_politicas{

        width: 100%;}

    .lista_politicas{

        width: 100%;}

    .linha_especa{

        width: 100%;}}

    @media (max-width: 1024px) {
        #nav_menu {
            height: 10%;
            flex-direction: column;
            padding: 20px;
        }
    
        .div_menu {
            width: 100%;
            text-align: center;
        }
    
        .div_menu a {
            padding: 10px 16px;
            font-size: 16px;
        }
    
        .div_logo {
            flex: 100%;
            text-align: center;
            margin-left: 0;
        }
    
        #div_logo img {
            width: 50%;
        }
    
        .header_inicio {
            flex-direction: column;
            height: auto;
            padding-top: 20%;
        }
    
        .div_inicio, #div_img_inicio {
            flex: 100%;
            margin-left: 0;
        }
    
        .div_inicio h2 {
            font-size: 18px;
        }
    
        .div_inicio p {
            font-size: 16px;
        }
    
        #botao_contato {
            font-size: 14px;
            padding: 15px;
        }
    
        .section_servicos {
            padding: 5%;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    
        .div_servicos {
            flex-direction: column;
        }
    
        .div_conteudo {
            width: 90%;
            margin: 10px 0;
        }
    
        .rodape {
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: auto;
        }
    
        .div_sociais {
            margin-right: 0;
            justify-content: center;
        }
    
        #footer_texto {
            margin-left: 0;
            width: auto;
            
        }
    
        .whats {
            width: 200px;
            right: 10px;
            bottom: 10px;
        }
    
        .whats p {
            font-size: 12px;
        }
    
        #voltar {
            left: 10px;
            bottom: 20px;
        }
    
        .titulo_contato span {
            font-size: 20px;
        }
    
        .section_formulario {
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10%;
            text-align: center;
        }
    
        #div_img_contato {
            margin-left: auto;
            margin-right: auto;
            flex: 100%;
        }
    
        .div_formulario_contato input {
            width: 20%;
            margin-bottom: 2px;
            display: inline-flex;
        
        }
    
        #button_formulario {
            width: 50%;
        }
    
        .div_tabela_contato {
            flex-direction: row;
            align-items: center;
        }
    
        #div_img_tabela {
            width: 30%;
            margin: 0;
            padding-top: 15px;
        }
    
        #div_texto_tabela {
            width: 100%;
        }
    
        .div_conteudo_servicos {
            width: 90%;
            margin: 10px 0;
        }
        #div_titulo_linha p{
            width: auto;
    
        }
    
        .div_linha_servicos {
            height: auto;
            padding: 20px;
            width: auto;
        }
    
        .div_texto_servicos h3 {
            font-size: 18px;
        }
        .div_estat{
            width: auto;
            height: auto;
        }
    
        .div_linha_tabela{
            height: auto;
            width: auto;
        }
        .div_img_servicos {
            margin-top: 10px;
            width: 100%;
        }
        .div_tabela_contato{
            height: auto;
            width: auto ;
        }
    
        .trafego_img {
            height: 500px;
            flex: 100%;
            text-align: center;
            
        }
    
        .texto_trafego, .trafego_img {
            flex: 100%;
        }
    
        .img_lista_trafego ul {
            padding-left: 0;
        }
    
        .trafego_img img {
            width: 80%;
            height: auto;
        }
    }
